$estiloAutor: (
    margen-general: 150px,
    margen-imagen: 0px,
    padding-imagen: 0px,
    border-imagen: 0px,
);

/* Autor */
.autor-conteiner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: map-get($estiloAutor, $margen-general );
    color: antiquewhite;
    .autor-box{
        flex-basis: 50%;
    }
    .imagen-autor{
        display: flex;
        margin: map-get($estiloAutor , $margen-imagen );
        padding: map-get($estiloAutor , $padding-imagen );
        border: map-get($estiloAutor , $border-imagen );
    }
    
}