



/* Autor */
.autor-conteiner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 150px;
    color: antiquewhite;
    .autor-box{
        flex-basis: 50%;
    }
    .imagen-autor{
        display: flex;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
}