.inicio-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    gap: 100px;
    color: $blancoHuevo;
    padding-left: 50px;
    padding-right: 50px;
    h1{
        font-weight: bold;
        font-size: xxx-large;
    }
}


.inicio-conteiner2{
    a{
        text-decoration: none;
        color: $blancoHuevo;
    }
    @extend .inicio-conteiner
}